*.DS_Store
./vscode/*
.idea/*
__pycache__/*
backend/data/stanford/*
backend/data/pipeline_*/*
backend/data/*
python_sudo.sh
__pycache__
data/*
!backend/data/corpora_demo
!backend/data/pipeline_demo
*.ctrl
*.ipynb
*/apicache/*
build/*
dist/*
bwg.egg-info/*
backend/logs/*
*.egg