*.DS_Store
./vscode/*
.idea/*
__pycache__/*
data/stanford/*
data/pipeline_*/*
python_sudo.sh
__pycache__
data/*
!data/corpora_demo
!data/pipeline_demo
*.ctrl
*.ipynb
*/apicache/*
build/*
dist/*
bwg.egg-info/*
logs/*