*.DS_Store
./vscode/*
.idea/*
__pycache__/*
pipeline/stanford/*
backend/data/pipeline_*/*
backend/data/*
python_sudo.sh
__pycache__
data/*
!backend/data/corpora_demo
!backend/data/pipeline_demo
*.ctrl
*.ipynb
*/apicache/*
backend/build/*
dist/*
backend/bwg.egg-info/*
backend/logs/*
*.egg
frontend/node_modules/
frontend/.sass-cache/
frontend/build/*
frontend/dist/*
bwg.egg-info/*
logs/*
*.pyc
