#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  font-family: Arial, sans-serif;
  transition: all 0.4s;
  font-size: 40px;
  color: #fff;
  background-color: inherit;

  &.done {
    transform: matrix(1, 0, 0, 1, 0, 40);
    opacity: 0;
  }

  .label {
    position: relative;
    top: calc(50% + 180px);
    text-align: center;
  }
}
