//The main scss file for the project
.links{
    path{
        fill:none;
        stroke:#595959;
        stroke-opacity:1;
        &.inactive{
            opacity: 0.2;
        }
    }
}
.nodes{
    circle{
        stroke:#fff;
        stroke-width:1.5px;
    }
    title{
        stroke:#000;
        stroke-width:1px;
        fill:#000;
    }
}
.node{
    &.inactive{
        circle{
            opacity:0.2;
        }
    }
}
text{
    font: 10px sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
#graphDiv{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    svg{
        width: 100%;
        height: 100%;
    }
}
