//The main scss file for the project

@import './logo';
@import './loader';
@import './contentLayer';
@import './infoInterface';

html {
  background-color: $black;
  position: fixed;
  width: 100%;
  height: 100%;
}
.affair {
  color: $affair;
  background-color: $affair;
}
.politician {
  color: $politician;
  background-color: $politician;
}
.party {
  color: $party;
  background-color: $party;
}
.company {
  color: $company;
  background-color: $company;
}
.organization {
  color: $organization;
  background-color: $organization;
}
.media {
  color: $media;
  background-color: $media;
}
.person {
  color: $person;
  background-color: $person;
}

.link {
  opacity: 0.2;

  &.on {
    opacity: 0.8;
  }

  &.hide {
    display: none;
  }
}

.nodeGroup {
  cursor: pointer;

  &.on {
    .text {
      opacity: 1;
    }
  }
  &.off {
    .text {
      opacity: 0;
    }
  }
  &.hide {
    display: none;
  }
  &.active {
    circle {
      transition: all 0.3s;
      transform: scale(2) matrix(1, 0, 0, 1, -6, -6);
    }
  }
}

.text {
  opacity: 0;
  pointer-events: none;
}

text {
  font: 10px sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#graphDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  svg {
    width: 100%;
    height: 100%;
  }
}
