@keyframes textReveal {
  0% {
    transform: translateX(-101%);
  }
  30% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(101%);
  }
}

%reveal-start {
  position: relative;
  overflow: hidden;
  display: inline-block;
  visibility: hidden;
  transition: visibility 0s 0.6s;

  &:after {
    content: '';
    visibility: visible;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-101%);
    background-color: currentColor;
  }
}

%reveal-end {
  color: inherit;
  visibility: visible;

  &:after {
    animation: textReveal;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
  }
}

@keyframes wikiReveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

%reveal-wiki-start {
  opacity: 0;
}

%reveal-wiki-end {
  animation: wikiReveal;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}

#details {
  position: fixed;
  height: 100%;
  width: 500px;
  top: 0;
  right: 0;
  background-color: #fff;
  transform: matrix(1, 0, 0, 1, 500, 0);
  transition: all 0.7s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  .openBtn,
  .closeBtn {
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .openBtn {
    width: 40px;
    height: 60px;
    right: 460px;
    top: 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 40px 30px 0;
      border-color: transparent #373737 transparent transparent;
      transition: border 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      cursor: pointer;
    }

    .info {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: calc(50% + 8px);
      transform: translate(-50%, -50%);
      transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

      svg {
        display: block;
        width: 20px;
        height: auto;

        * {
          fill: #ffffff;
          transition: all 0.3s;
        }
      }
    }
  }

  .closeBtn {
    top: 40px;
    right: 20px;
    width: 22px;
    height: 15px;

    .bar {
      width: 100%;
      height: 3px;
      margin-bottom: 1px;
      transform-origin: 50%;
      background-color: $black;

      &.top {
        transform: rotate(43deg) matrix(1, 0, 0, 1, 2, 4);
      }

      &.medium {
        opacity: 0;
      }

      &.bottom {
        transform: rotate(-43deg) matrix(1, 0, 0, 1, 2, -4);
      }
    }
  }

  .content {
    padding: 80px 40px 40px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;
      height: 95px;
      background: linear-gradient(#fff 70%, transparent);
    }

    h1, h2 {
      span {
        @extend %reveal-start;
      }
    }

    h2 {
      margin-bottom: 0;
      font-size: 20px;
    }

    h1 {
      margin-top: 0;
      font-size: 30px;
    }

  }

  .wikipedia {
    @extend %reveal-wiki-start;

    .logo {
      width: 18px;
      height: 18px;
      background: #4e4e4e;
      display: inline-flex;
      padding: 8px;
      border-radius: 50%;
      margin-right: 10px;

      svg {
        width: 100%;
        fill: #fff;
      }
    }

    .article {
      display: flex;
      margin-bottom: 20px;
      padding: 16px;
      background-color: #fff;
      box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
      border-radius: 6px;
      color: inherit;
      text-decoration: none;

      img {
        width: 130px;
        flex-basis: 130px;
        height: 130px;
        margin-right: 16px;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
      }

      h4, h5 {
        margin: 0;
      }

      h4 {
        margin-bottom: 5px;
      }

      dl {
        margin-bottom: 0;
      }

      dt {
        color: #adadad;
        font-weight: 200;
        font-size: 0.8em;
      }

      dd {
        margin: 0 0 5px;
      }
    }
  }

  &.is-active {
    .openBtn {
      transform: matrix(1, 0, 0, 1, -40, 0);
      transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &.is-open {
      transform: matrix(1, 0, 0, 1, 0, 0);

      .openBtn {
        transform: matrix(1, 0, 0, 1, 0, 0);
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

        .triangle {
          border-color: transparent #ffffff transparent transparent;
          border-width: 30px 0px 30px 0;
        }

        .info {
          transform: translate(0%, -50%);

          svg {
            * {
              fill: $black;
            }
          }
        }
      }

      .content {
        h2 {
          span {
            @extend %reveal-end;
          }
        }

        h1 {
          span {
            @extend %reveal-end;

            &:after {
              animation-delay: 0.2s;
            }
          }
        }
      }

      .wikipedia {
        @extend %reveal-wiki-end;
      }
    }
  }
}
