//The main scss file for the project
.links{
    path{
        fill:none;
        stroke:#999;
        stroke-opacity:1;
    }
}
.nodes{
    circle{
        stroke:#fff;
        stroke-width:1.5px;
    }
    title{
        stroke:#000;
        stroke-width:1px;
        fill:#000;
    }
}
text{
    font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
